<div class="page-loading" *ngIf="isLoading">
  <mat-spinner *ngIf="isLoading"></mat-spinner>
</div>
<div class="container">
  <mat-card style="background-color: transparent; display: flex">
    <mat-toolbar color="primary">
      <div class="header">
        <button mat-icon-button (click)="goBack()">
          <mat-icon color="white">arrow_back</mat-icon>
        </button>
        <b style="margin: 0; font-size: 1rem">Post</b>
      </div>
    </mat-toolbar>
    <mat-divider></mat-divider>
    <div class="post-wrapper">
      <div class="post-border">
        <app-post [post]="post" (refreshComment)="refreshComments()"></app-post>
        <div class="comments" *ngIf="this.postComments.length != 0">
          <app-post [post]="comment" *ngFor="let comment of postComments"></app-post>
        </div>
      </div>
    </div>
  </mat-card>
</div>
