<app-edit-community
  class="edit-popup"
  *ngIf="editCommunity"
  [community]="community"
  (closeEdit)="
    editCommunity = $event; page.classList.remove('static-page'); ngOnInit()
  "
></app-edit-community>
<app-member-list
  class="edit-popup"
  [memberIdList]="memberList"
  *ngIf="viewList"
  (closeList)="viewList = $event; page.classList.remove('static-page')"
></app-member-list>
<mat-sidenav-container *ngIf="loggedUser.id != undefined">
  <app-sidenav *ngIf="loggedUser.id != undefined" ></app-sidenav>
</mat-sidenav-container>
<div id="page" class="nav-page-content">
    <div class="container">
        <div class="community-details">
        <div class="community-profile">
            <img
              class="banner"
              src="{{
                community.bannerURL ||
                  'https://cdn.game-hub.pt/placeholder-banner.jpg'
              }}"
              alt="Community Banner"
            />
            <div class="community-info">
              <div class="icon-actions">
                <img
                  class="profile-picture"
                  src="{{
                    community.iconURL ||
                      'https://cdn.game-hub.pt/placeholder-pfp.jpg'
                  }}"
                  alt="Community Icon"
                />
                <div class="actions">
                  <button
                    *ngIf="isCommunityOwner"
                    mat-fab
                    extended
                    id="editCommunityButton"
                    (click)="editCommunity = true; page.classList.add('static-page')"
                    class="join-button"
                    color="white"
                  >
                    <mat-icon>edit</mat-icon>
                    <span class="action-button-label"> Edit Community </span>
                  </button>
                  <button
                    *ngIf="!isCommunityOwner"
                    mat-fab
                    extended
                    id="joinButton"
                    (click)="toggleJoin()"
                    class="join-button"
                    color="white"
                  >
                    <mat-icon>{{ joinButtonIcon }}</mat-icon>
                    {{ joinButtonText }}
                  </button>
                </div>
              </div>
              <div class="community-details">
                <h1 class="name">{{ community.name }}</h1>
                <p class="description" #bio>
                  {{
                    community.description ||
                      community.name + " doesn't have a description yet!"
                  }}
                </p>
              </div>
              <div class="members">
                <p
                  id="memberClick"
                  class="member-click"
                  (click)="openMemberList()"
                >
                  <b>{{ memberCount }}</b> Members
                </p>
                <div class="joinDate">
                  <mat-icon>calendar_today</mat-icon>
                  <p>{{ community.creationDate| date: 'mediumDate' }}</p>
                </div>
                <div class="joinDate" [routerLink]="['/users/' + communityOwner.username]">
                  <mat-icon style="color:var(--accent-color)!important;">military_tech</mat-icon>
                  <p style="color:var(--accent-color) !important;">{{ communityOwner.displayName }}</p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <app-new-post-exploreview [communityId]="communityId" *ngIf="displayNewPost"></app-new-post-exploreview>
        <div class="post-loader" *ngIf="loadingPosts">
          <mat-spinner [diameter]="75"></mat-spinner>
        </div>
        <ng-container class="post-container" *ngIf="posts.length > 0 && !loadingPosts">
          <div class="tab-border">
            <mat-tab-group>
              <mat-tab label="Posts">
                <app-post
                  class="post-view"
                  *ngFor="let post of posts"
                  [post]="post"
                >
                </app-post>
              </mat-tab>
              <mat-tab label="Media">
                <app-post *ngFor="let post of media" [post]="post"> </app-post>
                <div class="no-posts" *ngIf="media.length == 0">
                  <mat-icon> sentiment_very_dissatisfied </mat-icon>
                  <p>{{ community.name }} doesn't have any media yet.</p>
                </div>
              </mat-tab>
            </mat-tab-group>
          </div>
        </ng-container>
        <ng-container *ngIf="noPosts">
          <div class="no-posts">
            <mat-icon> sentiment_very_dissatisfied </mat-icon>
            <p>{{ community.name }} doesn't have any posts yet.</p>
          </div>
        </ng-container>
    </div>
</div>
<app-toolbar></app-toolbar>
<app-mobilenav style="position:absolute; z-index:9;" *ngIf="loggedUser.id != undefined" [addPost]="true" [communityId]="communityId"></app-mobilenav>
