<mat-toolbar color="primary" style="display:flex; position:fixed;top:0;">
  <div class="center-icons">
    <a mat-icon-button routerLink="/feed" routerLinkActive="active">
      <mat-icon color="white">videogame_asset</mat-icon>
    </a>
    <a *ngIf="!isMobile" routerLink="/feed" routerLinkActive="active" style="margin-left:1rem;text-decoration: none; color:white;">
      <span>GameHub</span>
    </a>
  </div>
    <div class="user-info"> 
      <span class="user-name" *ngIf="!isMobile" >{{loggedUser.displayName}}</span>
      <a [routerLink]="'/users/' + loggedUser.id"  style="height:42px;">
      <img class="user-image" src="{{loggedUser.profilePictureURL || 'https://static.vecteezy.com/system/resources/previews/017/266/671/non_2x/black-and-white-logo-of-a-man-s-head-in-headphones-free-vector.jpg'}}" alt="user profile picture">
      </a>
    </div>
  </mat-toolbar>