.user-image {
    width: 42px;
    height: 42px;
    border-radius: 50%;
}

.spacer {
  flex: 1 1 auto;
}

.user-info {
    margin-right:1rem;
    position:absolute;
    right:0;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    z-index:999;
}

.center-icons{
  position:absolute;
  width:100%;
  margin:0 auto;
  display:flex;
  flex-direction: row;
  align-items:center;
  justify-content: center;
}

.user-name{
  padding-right:1rem;
}  
