<div class="cropper-wrapper" *ngIf="bannerChangedEvent">
  <image-cropper
    class="cropper"
    [imageChangedEvent]="bannerChangedEvent"
    [maintainAspectRatio]="true"
    [aspectRatio]="58 / 19"
    (imageCropped)="imageCropped($event)"
    (imageLoaded)="imageLoaded($event)"
    (cropperReady)="cropperReady()"
    (loadImageFailed)="loadImageFailed()"
  ></image-cropper>
  <div class="cropper-buttons">
    <button mat-raised-button color="warn" (click)="clearCropper()">
      Discard
    </button>
    <button mat-raised-button color="primary" (click)="newPicture(true)">
      Save
    </button>
  </div>
</div>
<div class="cropper-wrapper" *ngIf="iconChangedEvent">
  <image-cropper
    class="cropper"
    [imageChangedEvent]="iconChangedEvent"
    [maintainAspectRatio]="true"
    [aspectRatio]="1 / 1"
    format="png"
    (imageCropped)="imageCropped($event)"
    (imageLoaded)="imageLoaded($event)"
    (cropperReady)="cropperReady()"
    (loadImageFailed)="loadImageFailed()"
  ></image-cropper>
  <div class="cropper-buttons">
    <button mat-raised-button color="warn" (click)="clearCropper()">
      Discard
    </button>
    <button mat-raised-button color="primary" (click)="newPicture(false)">
      Save
    </button>
  </div>
</div>
<mat-sidenav-container>
  <app-sidenav></app-sidenav>
</mat-sidenav-container>
<div #page class="nav-page-content">
  <mat-stepper #stepper class="stepper" orientation="vertical">
    <mat-step [formGroup]="this.createCommunityForm">
      <ng-template matStepLabel>
        <span>
          Community Name
        </span>
      </ng-template>
      <mat-form-field>
        <mat-label>Community Name</mat-label>
        <input matInput placeholder="Community Name" formControlName="name" />
        <mat-error *ngIf="createCommunityForm.controls['name'].invalid">
          {{ getErrorMessage("name") }}</mat-error
        >
      </mat-form-field>
      <div>
        <button
          mat-button
          matStepperNext
          [disabled]="createCommunityForm.controls['name'].invalid"
        >
          Next
        </button>
      </div>
    </mat-step>
    <mat-step [formGroup]="this.createCommunityForm">
      <ng-template matStepLabel>
      <span>
        Community Description
      </span>
      </ng-template>
      <mat-form-field>
        <mat-label>Community Description</mat-label>
        <textarea
          matInput
          placeholder="Community Description"
          formControlName="description"
        ></textarea>
        <mat-error *ngIf="createCommunityForm.controls['description'].invalid">
          {{ getErrorMessage("description") }}</mat-error
        >
      </mat-form-field>
      <div>
        <button
          mat-button
          matStepperNext
          [disabled]="createCommunityForm.controls['description'].invalid"
        >
          Next
        </button>
      </div>
    </mat-step>
    <mat-step [formGroup]="this.createCommunityForm">
      <ng-template matStepLabel>
      <span>
        Community Icon
      </span>
      </ng-template>
      <mat-label>Community Icon</mat-label>
      <div class="icon">
        <div class="icon-background">
          <img
            src="{{
              createCommunityForm.get('iconURL')?.value ||
                'https://cdn.game-hub.pt/placeholder-pfp.jpg'
            }}"
            alt=""
          />
        </div>
        <input
          #iconInput
          type="file"
          (change)="iconChangeEvent($event)"
          style="
            z-index: -1;
            visibility: hidden;
            position: absolute;
            right: -900;
          "
          accept="image/*"
        />
        <mat-icon (click)="iconInput.click()">mode</mat-icon>
      </div>
      <div>
        <button
          mat-button
          matStepperNext
          [disabled]="createCommunityForm.controls['iconURL'].invalid"
        >
          Next
        </button>
      </div>
    </mat-step>
    <mat-step [formGroup]="this.createCommunityForm">
      <ng-template matStepLabel>
        <span>
          Community Banner
        </span>
      </ng-template>
      <mat-label>Community Banner</mat-label>
      <div class="banner">
        <div class="banner-background">
          <img
            src="{{
              createCommunityForm.get('bannerURL')?.value ||
                'https://cdn.game-hub.pt/placeholder-banner.jpg'
            }}"
            alt=""
          />
        </div>
        <input
          #bannerInput
          type="file"
          (change)="bannerChangeEvent($event)"
          style="
            z-index: -1;
            visibility: hidden;
            position: absolute;
            right: -900;
          "
          accept="image/*"
        />
        <mat-icon (click)="bannerInput.click()">mode</mat-icon>
      </div>
      <mat-error *ngIf="createCommunityForm.controls['bannerURL'].invalid">
        {{ getErrorMessage("bannerURL") }}</mat-error
      >
      <div>
        <button
          #finishButton
          mat-button
          (click)="createCommunity()"
          [disabled]="createCommunityForm.invalid || submittingForm"
        >
          Finish
        </button>
      </div>
    </mat-step>
  </mat-stepper>
</div>
<app-toolbar></app-toolbar>
<app-mobilenav style="position:absolute; z-index:10;"></app-mobilenav>
