.icon-background img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  opacity: 0.5;
}
.icon-background {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background-color: black;
}
.icon {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 1rem;
}

.stepper{
  background-color: var(--background-color);
  margin-bottom:4rem;
}

.mat-mdc-button:disabled{
  color:gray;
  background-color: var(--lighter-background-color);
}

.mat-mdc-button:not(:disabled){
  color:var(--text-color);
  background-color:#673ab7;
}

span{
  color:white;
}

mat-icon {
  opacity: 0.7;
}

.icon mat-icon {
  position: absolute;
  color: white;
}

.banner-background img {
  width: 80vw;
  max-width: 580px;
  max-height: 190px;
  size: cover;
}

.banner {
  max-width: 580px;
  width: 80vw;
  height: auto;
  max-height: 190px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

mat-icon:hover {
  cursor: pointer;
}

.banner mat-icon {
  position: absolute;
  bottom: 0;
  right: 0;
  margin: 1rem;
}

.banner-background img {
  opacity: 0.5;
}

.banner-background {
  height: auto;
  max-height: 190px;
  background-color: black;
}

.cropper {
  width: 100vw;
  margin-left: 4.8rem;
  background-color: black;
  max-width: 580px;
  --cropper-outline-color: rgba(255, 255, 255, 0.1);
  --cropper-overlay-color: rgb(5, 5, 5);
}

.cropper-buttons {
  margin-left: 4.8rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--lighter-background-color);
  width: 100vw;
  padding: 5px;
  max-width: 580px;
}

.cropper-wrapper {
  width: 100vw;
  height: 100vh;
  position: absolute;
  z-index: 999;
  top: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.8);
}

.toolbar p {
  margin: 0;
}
@media (max-width: 660px) {
  .main-page {
    margin-left: 0;
  }
  .cropper {
    width: 80vw;
    margin-left: 0;
  }
  .cropper-buttons {
    width: 80vw;
    margin-left: 0;
  }
}
@media (max-width: 580px) {
  .container {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    display: block;
    margin: 0;
    overflow-x: hidden;
  }
  .main-page {
    position: absolute;
    top: 0;
    margin: 0;
    width: 100vw;
    height: 100vh;
    box-shadow: none;
  }

  .cropper {
    width: 80vw;
    margin: 0;
  }
  .cropper-buttons {
    width: 80vw;
    margin: 0;
  }

  .submit-form {
    height: fit-content;
    margin-bottom: 4rem;
  }

  .buttonWrapper {
    position: fixed;
    bottom: 0;
  }
}
