<app-edit-profile
  class="edit-popup"
  *ngIf="editProfile"
  (closeEdit)="
    editProfile = $event; page.classList.remove('static-page'); ngOnInit()
  "
></app-edit-profile>
<app-follow-list
  class="edit-popup"
  [followersList]="followerList"
  [followingList]="followingList"
  [displayName]="shownUser.displayName"
  [tabIndex]="followIndex"
  *ngIf="followList"
  (closeList)="followList = $event"
></app-follow-list>
<mat-sidenav-container>
  <app-sidenav *ngIf="loggedUser != null"></app-sidenav>
</mat-sidenav-container>
<div id="page" class="nav-page-content">
  <div class="container">
    <div class="user-profile">
      <img
        class="banner"
        src="{{
          shownUser.bannerURL ||
            'https://cdn.game-hub.pt/placeholder-banner.jpg'
        }}"
        alt="Profile Banner"
      />
      <div class="user-info">
        <div class="pfp-actions">
          <img
            class="profile-picture"
            src="{{
              shownUser.profilePictureURL ||
                'https://cdn.game-hub.pt/placeholder-pfp.jpg'
            }}"
            alt="Profile Picture"
          />
          <div class="actions">
            <button
              *ngIf="isLoggedUser"
              mat-fab
              extended
              id="editProfileButton"
              (click)="editProfile = true; page.classList.add('static-page')"
              class="follow-button"
              color="white"
            >
              <mat-icon>edit</mat-icon>
              <span class="action-button-label"> Edit Profile </span>
            </button>
            <button
              *ngIf="!isLoggedUser"
              mat-fab
              extended
              id="followButton"
              (click)="toggleFollow()"
              class="follow-button"
              color="white"
            >
              <mat-icon>{{ followButtonIcon }}</mat-icon>
              {{ followButtonText }}
            </button>
          </div>
        </div>
        <div class="user-details">
          <h1 class="name">{{ shownUser.displayName }}</h1>
          <p class="handler">&#64;{{ shownUser.username }}</p>
          <p class="bio" #bio>
            {{
              shownUser.bio ||
                shownUser.displayName + " hasn't written a bio yet."
            }}
          </p>
        </div>
        <div class="follows">
          <p
            id="followerClick"
            class="follow-click"
            (click)="openFollowList(0)"
          >
            <b>{{ followerCount }}</b> Followers
          </p>
          <p
            id="followingClick"
            class="follow-click"
            (click)="openFollowList(1)"
          >
            <b>{{ followingCount }}</b> Following
          </p>
          <div class="joinDate">
            <mat-icon>calendar_today</mat-icon>
            <p>{{ shownUser.creationDate| date: 'mediumDate' }}</p>
          </div>
        </div>
      </div>
      <mat-divider></mat-divider>
    </div>
    <ng-container class="post-container" *ngIf="posts.length > 0">
      <div class="tab-border">
        <mat-tab-group>
          <mat-tab label="Posts">
            <app-post
              class="post-view"
              *ngFor="let post of posts"
              [post]="post"
            >
            </app-post>
          </mat-tab>
          <mat-tab label="Comments">
            <app-post *ngFor="let post of comments" [post]="post"> </app-post>
          </mat-tab>
          <mat-tab label="Media">
            <app-post *ngFor="let post of media" [post]="post"> </app-post>
          </mat-tab>
        </mat-tab-group>
      </div>
    </ng-container>
    <ng-container *ngIf="posts.length == 0">
      <div class="no-posts">
        <mat-icon> sentiment_very_dissatisfied </mat-icon>
        <p>{{ shownUser.displayName }} hasn't posted anything yet.</p>
      </div>
    </ng-container>
  </div>
</div>
<app-toolbar></app-toolbar>
<app-mobilenav *ngIf="loggedUser.id != undefined"></app-mobilenav>
