.post-wrapper{
    display:flex;
    flex-direction:column;
    margin:0 auto;
    align-items:center;
}

.new-post{
    position:relative;
    border-left:1px white solid;
    border-right:1px white solid;
}

.tab-border{
    border-left:1px white solid;
    border-right:1px white solid;
    z-index:0;
}

@media (max-width: 580px){
    .tab-border{
        border:0;
    }
    .page-loading{
        height:calc(100vh - 112px) !important;
    }
}


.page-loading{
    position:absolute;
    top:0;
    left:0;
    z-index:999999;
    width:100%;
    height:calc(100vh - 64px);
    display:flex;
    align-items:center;
    justify-content: center;
    background-color:rgba(0,0,0,0.8);
    overflow:hidden;
}

.mat-mdc-tab-group, .mat-mdc-tab-nav-bar{
    --mat-tab-header-inactive-label-text-color: rgba(255,255,255,0.7);
    --mat-tab-header-inactive-focus-label-text-color: white;
    --mat-tab-header-inactive-hover-label-text-color: white;
}
