.new-post-card{
  background-color: rgba(0, 0, 0, 0); 
  margin:1rem;
  max-width:580px;
  width:100vw
}
.header {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  align-items: center;
}

.userInfo {
  margin-top: 1rem;
  display: flex;
  flex-direction: row;
  gap: 1rem;
  margin-bottom: 1rem;
}

.mat-mdc-raised-button > .mat-icon {
  margin-left: 0 !important;
  margin-right: 0 !important;
}

.icons {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.file-input {
  display: none;
}
