<mat-card>
<mat-card-content style="display:flex; flex-direction:row;">
    <img src="https://picsum.photos/200" alt="" style="border-radius: 50%; width: 3rem; height: 3rem; border: 2px solid black;">
    <div class="userInfo">
        <mat-card-title class="username">John Doe</mat-card-title>
        <mat-card-subtitle class="userAt">@johndoe · 1h</mat-card-subtitle>
    </div>
</mat-card-content>
<mat-card-content style="padding:1rem;">
    <p>Consectetur excepteur laboris sed ad duis ex nostrud sed cillum dolore irure non velit cillum et ipsum non velit aute et ipsum qui ut do est minim qui amet deserunt in minim tempor amet enim id officia tempor culpa elit lorem officia adipiscing culpa exercitation laborum sit adip</p>
</mat-card-content>
<mat-card-actions style="padding-top:0;">
    <button mat-icon-button>
        <mat-icon>favorite</mat-icon>
    </button>
    <p>0</p>
    <button mat-icon-button>
        <mat-icon>comment</mat-icon>
    </button>
    <p>0</p>
    <button mat-icon-button>
        <mat-icon>share</mat-icon>
    </button>
</mat-card-actions>
</mat-card>
<mat-divider></mat-divider>