.user-info {
    display: flex;
    align-items: center;
    margin-right: 20px;
}

.user-image {
  width: 42px;
  height: 42px;
  border-radius: 50%;
  margin-right: 10px;
}

.spacer {
  flex: 1 1 auto;
}

.container {
  width: 500px;
  height: 300px;
}

.page-content {
  display: flex;
  height: 100%;
}

.sidenav {
  padding: 20px;
  height: 100%;
  background-color: #3f51b5;
}

.icons {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: calc(100% - 116px);
}

.mat-icon {
  vertical-align: middle;
}

.bottom-icons {
  display:flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  left:0;
  right:0;
  margin:auto;
  bottom: 0;
}