.user-info {
    display: flex;
    align-items: center;
}

.user-name{
  padding-right:1rem;
}

.bottom-nav-flex {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.user-image {
  width: 42px;
  height: 42px;
  border-radius: 50%;
}

.spacer {
  flex: 1 1 auto;
}

.container {
  width: 500px;
  height: 300px;
}

.page-content {
  display: flex;
  flex-direction: column;
  align-items:start;
  height: 100%;
}

.sidenav {
  padding: 20px;
  height: 100%;
  background-color: #3f51b5;
}

.icons {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: calc(100% - 116px);
}

.bottom-nav{
  position:fixed; 
  bottom:0; 
  width:100%;
}

.bottom-icons {
  display:flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  left:0;
  right:0;
  margin:auto;
  bottom: 0;
}