<!-- material sidenav, header and page content

<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport
    [attr.role]="'navigation'"
    [mode]="'side'"
    [opened]="true">
    <mat-nav-list>
      <div class="icons">
        <a mat-list-item routerLink="/home" routerLinkActive="active">
          <mat-icon aria-label="Home icon" style="color: #ffffff;">home</mat-icon>
        </a>
        <a mat-list-item routerLink="/home" routerLinkActive="active">
          <mat-icon aria-label="Home icon" style="color: #ffffff;">home</mat-icon>
        </a>
        <a mat-list-item routerLink="/home" routerLinkActive="active">
          <mat-icon aria-label="Home icon" style="color: #ffffff;">home</mat-icon>
        </a>
        <a mat-list-item routerLink="/home" routerLinkActive="active">
          <mat-icon aria-label="Home icon" style="color: #ffffff;">home</mat-icon>
        </a>
        <a mat-list-item routerLink="/home" routerLinkActive="active">
          <mat-icon aria-label="Home icon" style="color: #ffffff;">home</mat-icon>
        </a>
        <a mat-list-item routerLink="/home" routerLinkActive="active">
          <mat-icon aria-label="Home icon" style="color: #ffffff;">home</mat-icon>
        </a>
        <a mat-list-item routerLink="/home" routerLinkActive="active">
          <mat-icon aria-label="Home icon" style="color: #ffffff;">home</mat-icon>
        </a>
        <a mat-list-item routerLink="/home" routerLinkActive="active">
          <mat-icon aria-label="Home icon" style="color: #ffffff;">home</mat-icon>
        </a>
        <a mat-list-item routerLink="/home" routerLinkActive="active">
          <mat-icon aria-label="Home icon" style="color: #ffffff;">home</mat-icon>
        </a>
        <a mat-list-item routerLink="/home" routerLinkActive="active">
          <mat-icon aria-label="Home icon" style="color: #ffffff;">home</mat-icon>
        </a>
        <a mat-list-item routerLink="/home" routerLinkActive="active">
          <mat-icon aria-label="Home icon" style="color: #ffffff;">home</mat-icon>
        </a>
        <a mat-list-item routerLink="/home" routerLinkActive="active">
          <mat-icon aria-label="Home icon" style="color: #ffffff;">home</mat-icon>
        </a>
        <a mat-list-item routerLink="/home" routerLinkActive="active">
          <mat-icon aria-label="Home icon" style="color: #ffffff;">home</mat-icon>
        </a>
        <a mat-list-item routerLink="/home" routerLinkActive="active">
          <mat-icon aria-label="Home icon" style="color: #ffffff;">home</mat-icon>
        </a>
        <a mat-list-item routerLink="/home" routerLinkActive="active">
          <mat-icon aria-label="Home icon" style="color: #ffffff;">home</mat-icon>
        </a>
        <a mat-list-item routerLink="/home" routerLinkActive="active">
          <mat-icon aria-label="Home icon" style="color: #ffffff;">home</mat-icon>
        </a>
        <a mat-list-item routerLink="/home" routerLinkActive="active">
          <mat-icon aria-label="Home icon" style="color: #ffffff;">home</mat-icon>
        </a>
        <a mat-list-item routerLink="/home" routerLinkActive="active">
          <mat-icon aria-label="Home icon" style="color: #ffffff;">home</mat-icon>
        </a>
        <a mat-list-item routerLink="/home" routerLinkActive="active">
          <mat-icon aria-label="Home icon" style="color: #ffffff;">home</mat-icon>
        </a>
      </div>
      
      <div class="bottom-icons">
        <a mat-list-item routerLink="/login" routerLinkActive="active">
          <mat-icon aria-label="Logout icon" style="color: #ffffff;">home</mat-icon>
        </a>
        <a mat-list-item routerLink="/login" routerLinkActive="active">
          <mat-icon aria-label="Logout icon" style="color: #ffffff;">chat</mat-icon>
        </a>
      </div> 
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <span>GameHub</span>

        <span class="spacer"></span>
        <div class="user-info">
            <img class="user-image" src="https://picsum.photos/200" alt="user profile picture">
            <span class="user-name">John Doe</span>
        </div>
    </mat-toolbar>
    <div class="page-content"> -->
      <router-outlet></router-outlet>
    <!-- </div>
  </mat-sidenav-content>
</mat-sidenav-container> -->