<div class="post">
  <div class="userInfo">
    <div class="user" (click)="goToAuthorProfile()">
      <div class="userImage">
        <img
          src="{{
            this.postAuthor?.profilePictureURL ||
              'https://static.vecteezy.com/system/resources/previews/017/266/671/non_2x/black-and-white-logo-of-a-man-s-head-in-headphones-free-vector.jpg'
          }}"
          alt=""
          style="
            border-radius: 50%;
            width: 2.5rem;
            height: 2.5rem;
            border: 1px solid black;
          "
        />
      </div>
      <div class="userName">
        <b style="font-size: 1rem">{{ this.postAuthor?.displayName }}</b>
        <p style="font-size: 0.8rem; color: gray">
          {{ "@" + this.postAuthor?.username }} ·
          {{ this.post?.creationDate | dateAgo }}
        </p>
      </div>
    </div>
    <div *ngIf="this.post?.postId!=null" class="isReply" (click)="goToParentPost()">
      <p>{{parentUsername}}</p>
    </div>
    <button
      mat-button
      color="white"
      [matMenuTriggerFor]="menu"
      *ngIf="postAuthor?.id == loggedInUser?.id"
    >
      <mat-icon>more_vert</mat-icon>
    </button>
    <mat-menu #menu="matMenu">
      <button mat-menu-item>
        <mat-icon>edit</mat-icon>
        <span>Edit Post</span>
      </button>
      <button mat-menu-item (click)="deletePost()">
        <mat-icon>delete</mat-icon>
        <span>Delete Post</span>
      </button>
    </mat-menu>
  </div>
  <div class="postContent" (click)="goToPost()">
    <p #content style="font-size: 1rem; white-space: pre-line">
      {{ this.post?.content }}
    </p>
    <img *ngIf="this.post?.mediaUrl" src="{{ this.post?.mediaUrl }}" alt="" />
  </div>
  <mat-divider></mat-divider>
  <div class="actions">
    <button mat-button (click)="openNewComment()" color="white">
      <mat-icon>comment</mat-icon>
      <span>{{ this.postCommentsCount }}</span>
    </button>
    <button mat-button (click)="likePost()" color="white">
      <mat-icon [ngClass]="this.post?.isLiked ? 'red-color' : ''"
        >favorite</mat-icon
      >
      <span>{{ this.postLikes }}</span>
    </button>
    <button mat-button (click)="sharePost()" color="white">
      <mat-icon>share</mat-icon>
    </button>
  </div>
  <mat-divider></mat-divider>
  <div class="add-comment" *ngIf="showNewComment" #addComment>
    <div class="basic-user-info">
      <img src="{{ this.loggedInUser!.profilePictureURL  || 'https://static.vecteezy.com/system/resources/previews/017/266/671/non_2x/black-and-white-logo-of-a-man-s-head-in-headphones-free-vector.jpg' }}" alt="">
      <div class="usernames-comment">
        <b>{{ this.loggedInUser!.displayName }}</b>
        <p style="color:gray;margin:0;">{{ "@" + this.loggedInUser!.username }}</p>
      </div>
    </div>
    <div [formGroup]="form" style="margin-top:1rem">
      <mat-form-field appearance="fill" color="primary" style="width: 100%">
        <mat-label style="color: black">Write a comment on this post</mat-label>
        <textarea
          matInput
          formControlName="content"
          style="color: black"
          cdkTextareaAutosize
          #autosize="cdkTextareaAutosize"
          cdkAutosizeMaxRows="20"
          cdkAutosizeMinRows="1"
          maxlength="280"
        ></textarea>
        <mat-hint align="end"
          >{{ this.form.get("content")?.value.length ?? 0 }}/280</mat-hint
        >
      </mat-form-field>
      <img
        *ngIf="this.form.get('mediaURL')?.value"
        [src]="this.form.get('mediaURL')?.value"
        style="width: 100px;height:100px;"
      />
      <input
      type="file"
      class="file-input"
      [disabled]="this.form.disabled"
      (change)="onFileSelected($event)"
      accept="image/*"
      #fileUpload
      />
    </div>
    <div class="actions-comment">
      <div class="file-upload">
        <button
          mat-icon-button
          color="primary"
          (click)="fileUpload.click()"
          [disabled]="this.form.disabled"
        >
          <mat-icon>image</mat-icon>
        </button>
      </div>
      <button
        mat-raised-button
        color="primary"
        (click)="createComment()"
        [disabled]="this.form.disabled"
      >
        Post
      </button>
    </div>
  </div>
</div>
