.header {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  align-items: center;
}

.user {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  margin-bottom: 0rem;
}

.usernameLink{
  color:--var(lighter-background-color);
  text-decoration:none;
}

.userInfo {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.mat-mdc-raised-button > .mat-icon {
  margin-left: 0 !important;
  margin-right: 0 !important;
}

.icons {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.file-input {
  display: none;
}

.post {
  padding:1rem;
  max-width:calc(580px - 2rem);
  width:100vw;
}

.postContent {
  margin-top: 0.5rem;
  margin-bottom:1rem;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}

.isReply{
  color:gray;
}


@media (max-width:580px){
  .post{
    border:none;
    width:calc(100vw - 2rem);
  }
}

.postContent img {
  width: 100%;
  height: auto;
  border-radius: 25px;
}

.red-color {
  color: red;
  fill: red;
}

.postContent img {
  border-radius: 5px;
}

.actions {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  align-items: center;
  justify-content: space-around;
  z-index: -1;
}

.mdc-button {
  min-width: 0 !important;
}

.basic-user-info{
  margin-top:1rem;
  display:flex;
  flex-direction:row;
  gap:1rem;
  align-items:flex-end;
}

.basic-user-info img{
  width:50px;
  height:50px;
  border-radius:50%;
}

.actions-comment{
  display:flex;
  flex-direction:row;
  justify-content: space-between;
  margin:left 1rem right 1rem;
}

.communityInfo{
  display:flex;
  flex-direction:row;
  gap:1rem;
  margin-bottom:0.5rem;
  align-items:center;
}

.communityInfo img{
  width:15px;
  height:15px;
  border-radius:50%;
}

.communityInfo p{
  font-size:0.75rem;
  color:whitesmoke;
  margin:0;
}