<div class="post">
  <div class="userInfo">
    <div class="user" (click)="goToAuthorProfile()">
      <div class="userImage">
        <img
          src="{{
            this.postAuthor?.profilePictureURL ||
              'https://static.vecteezy.com/system/resources/previews/017/266/671/non_2x/black-and-white-logo-of-a-man-s-head-in-headphones-free-vector.jpg'
          }}"
          alt=""
          style="
            border-radius: 50%;
            width: 2.5rem;
            height: 2.5rem;
            border: 1px solid black;
          "
        />
      </div>
      <div class="userName">
        <b style="font-size: 1rem">{{ this.postAuthor?.displayName }}</b>
        <p style="font-size: 0.8rem; color: gray">
          {{ "@" + this.postAuthor?.username }} ·
          {{ this.post?.creationDate | dateAgo }}
        </p>
      </div>
    </div>
    <button
      mat-button
      color="white"
      [matMenuTriggerFor]="menu"
      *ngIf="postAuthor?.id == loggedInUser?.id"
    >
      <mat-icon>more_vert</mat-icon>
    </button>
    <mat-menu #menu="matMenu">
      <button mat-menu-item>
        <mat-icon>edit</mat-icon>
        <span>Edit Post</span>
      </button>
      <button mat-menu-item>
        <mat-icon>delete</mat-icon>
        <span>Delete Post</span>
      </button>
    </mat-menu>
  </div>
  <div class="postContent" (click)="goToPost()">
    <p style="font-size: 1rem; white-space: pre-line">
      {{ this.post?.content }}
    </p>
    <img *ngIf="this.post?.mediaUrl" src="{{ this.post?.mediaUrl }}" alt="" />
  </div>
  <mat-divider></mat-divider>
  <div class="actions">
    <button mat-button (click)="('comment')" color="white">
      <mat-icon>comment</mat-icon>
      <span>{{ this.postComments.length }}</span>
    </button>
    <button mat-button (click)="likePost()" color="white">
      <mat-icon [ngClass]="this.post?.isLiked ? 'red-color' : ''"
        >favorite</mat-icon
      >
      <span>{{ this.postLikes }}</span>
    </button>
    <button mat-button (click)="sharePost()" color="white">
      <mat-icon>share</mat-icon>
    </button>
  </div>
  <mat-divider></mat-divider>
</div>
