.sidenav {
  height: 100%;
  background-color: #673ab7;
  width: 75px;
  display: flex;
}

.icons {
  width: 50%;
  margin: 0 auto;
}

.bottom-icons {
  position: fixed;
  bottom: 0;
  text-align: center;
  width: 75px;
  background-color: #673ab7;
}
.create-community-icon {
  margin-top: 1.5rem;
}
