.sidenav {
  height:calc(100vh - 64px) !important;
  background-color: #673ab7;
  width: 75px;
  display: flex;
  position:fixed;
  top:64px !important;
  left:0 !important;
}

.community-header{
  width:100%;
}

.community-list{
  width:100%;
  overflow-y:scroll;
}

.communityIcon{
  width:45px;
  height:45px;
  margin:13.5px;
  border-radius:50%;
  border:var(--accent-color) 1px solid;
  overflow:hidden;
}

.community-header mat-icon{
  margin:15px 25px;
}

.icons {
  width: 100%;
  align-items:center;
  display:flex;
  flex-direction:column;
  height:calc(100vh - 70.5px - 64px);
}

.bottom-icons {
  position: fixed;
  bottom: 0;
  text-align: center;
  width: 75px;
  background-color: #673ab7;
}
.create-community-icon {
  margin-top: 1.5rem;
}
