<mat-sidenav
  id="sidenav"
  #drawer
  class="sidenav"
  fixedInViewport
  [attr.role]="'navigation'"
  [mode]="this.isMobile ? 'push' : 'side'"
  [opened]="!this.isMobile"
>
  <mat-nav-list style="padding-top:0;">
    <mat-divider></mat-divider>
    <div class="icons">
      <div class="community-header">
        <mat-icon style="color:white;">groups</mat-icon>
        <mat-divider></mat-divider>
      </div>
      <div class="community-list">
        <div class="community-icon" *ngFor="let community of userCommunities">
            <img [routerLink]="['/community', community.id]" src="{{community.iconURL}}" alt="{{community.name + ' icon'}}" class="communityIcon">
            <mat-divider></mat-divider>
        </div>
        <div class="create-community-icon">
          <a routerLink="/create-community" routerLinkActive="active">
            <mat-icon
              aria-label="Create Community Icon"
              style="color: #ffffff; width: auto"
            >
              add_circle
            </mat-icon>
          </a>
        </div>
        <mat-divider></mat-divider>
      </div>
    </div>
    <div class="bottom-icons">
      <mat-divider></mat-divider>
        <div class="search" (click)="openSearch()">
          <mat-icon style="color:white;">search</mat-icon>
        </div>
    </div>
  </mat-nav-list>
</mat-sidenav>
