<mat-sidenav
  id="sidenav"
  #drawer
  class="sidenav"
  fixedInViewport
  [attr.role]="'navigation'"
  [mode]="this.isMobile ? 'push' : 'side'"
  [opened]="!this.isMobile"
>
  <mat-nav-list style="padding-top:0;">
    <mat-divider></mat-divider>
    <div class="icons">
      <div class="community-header">
        <mat-icon style="color:white;">groups</mat-icon>
        <mat-divider></mat-divider>
      </div>
      <div class="community-list">
      </div>
    </div>
    <div class="bottom-icons">
      <mat-divider></mat-divider>
      <div class="create-community-icon">
        <a routerLink="/create-community" routerLinkActive="active">
          <mat-icon
            aria-label="Create Community Icon"
            style="color: #ffffff; margin-bottom: 1rem; width: auto"
          >
            add_circle
          </mat-icon>
        </a>
      </div>
    </div>
  </mat-nav-list>
</mat-sidenav>
