<div class="content">
  <mat-card class="landing-card">
    <mat-card-title>Login</mat-card-title>
    <mat-card-content>
      <!-- form -->
      <form [formGroup]="loginForm">
        <!-- username or email -->
        <mat-form-field>
          <mat-label>Username or Email</mat-label>
          <input matInput placeholder="Username or Email" formControlName="usernameOrEmail">
          <mat-error *ngIf="loginForm.controls['usernameOrEmail'].invalid">{{getErrorMessage('usernameOrEmail')}}</mat-error>
        </mat-form-field>
        <!-- password -->
        <mat-form-field>
          <mat-label>Password</mat-label>
          <input matInput type="password" placeholder="Password" formControlName="password">
          <mat-error *ngIf="loginForm.controls['password'].invalid">{{getErrorMessage('password')}}</mat-error>
        </mat-form-field>
        <!-- submit -->
        <br>
        <button mat-raised-button color="primary" (click)="loginUser()" [disabled]="loginForm.invalid || loginForm.disabled">Login</button>
      </form>
    </mat-card-content>
  </mat-card>
</div>