/* You can add global styles to this file, and also import other style files */

.page-loading{
  position:absolute;
  top:0;
  left:0;
  z-index:999999;
  width:100%;
  height:calc(100vh - 64px);
  display:flex;
  align-items:center;
  justify-content: center;
  background-color:rgba(0,0,0,0.8);
  overflow:hidden;
}

.nav-page-content{
  top:4rem;
  margin-left:75px;
  position:absolute;
  left:0;
  width:calc(100% - 75px);   
}

@media (max-width:650px) {
  .nav-page-content{
      margin-left:0;
      width:100%;
  }
}
@media (max-width:599px){
  .nav-page-content{
      top:3.5rem;
  }
}


html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

/* Dark Mode Colors */
:root {
  --primary-color: #2196f3; /* Define your primary color */
  --accent-color: #ffc107; /* Define your accent color */
  --warn-color: #f44336; /* Define your warning color */
  --background-color: #121212; /* Define your background color */
  --lighter-background-color: #1e1e1e; /* Define your lighter background color */
  --lighter-background-color-alpha: #1e1e1e55; /* Define your lighter background color with alpha */
  --text-color: #ffffff; /* Define your text color */
  --dark-text-color: #000000; /* Define your dark text color */
}

body {
  background-color: var(--background-color);
  color: var(--text-color);
  opacity: 1;
}
