<div class="background">
    <h1 mat-dialog-title>Delete community?</h1>
    <div mat-dialog-content>
        <p>Are you sure you want to delete your community?</p>
        <b style="color:red;">This action is irreversible</b>
        <p>Enter your password to confirm</p>
        <mat-form-field>
            <input #passwordField matInput type="password">
        </mat-form-field>
    </div>
    <div mat-dialog-actions>
      <button mat-raised-button color="accent" (click)="onNoClick()" cdkFocusInitial>No</button>
      <button mat-raised-button color="warn" (click)="verifyPassword()" [disabled]="passwordField!.value.length == 0">Yes
        </button>
    </div>
</div>